
<div class="page capped-1900">
  <main>
    <h1 class="page-title mb-5">Support</h1>
    <h2 class="page-subtitle mb-4">Need help with we are here</h2>

    <div class="row">
      <div class="col-4">
        <a href="#!" class="support-card">
          <div class="card-body">
            <div class="icon"><span class="capicon cap-email"></span></div>
            <h4>Email us for support</h4>
            <p class="w-248">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="#!" class="support-card">
          <div class="card-body">
            <div class="icon"><span class="capicon cap-call"></span></div>
            <h4>Call a support specialist</h4>
            <p class="w-248">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="#!" class="support-card">
          <div class="card-body">
            <div class="icon"><span class="capicon cap-chat"></span></div>
            <h4>Attend a live training webinar</h4>
            <p class="w-248">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="#!" class="support-card">
          <div class="card-body">
            <div class="icon"><span class="capicon cap-support-alt"></span></div>
            <h4>Visit the Online help center</h4>
            <p class="w-248">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="#!" class="support-card">
          <div class="card-body">
            <div class="icon"><span class="capicon cap-comment"></span></div>
            <h4>Chat online with a specialist</h4>
            <p class="w-248">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
          </div>
        </a>
      </div>
      <div class="col-4">
        <a href="#!" class="support-card">
          <div class="card-body">
            <div class="icon"><span class="capicon cap-calender"></span></div>
            <h4>Book a free concierge</h4>
            <p class="w-248">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor</p>
          </div>
        </a>
      </div>
    </div>
  </main>
</div>
<!-- JAVASCRIPT -->
<!-- Mighty JQuery -->
<script
  src="https://code.jquery.com/jquery-3.1.0.js"
  integrity="sha256-slogkvB1K3VOkzAI8QITxV3VzpOnkeNVsKvtkYLMjfk="
  crossorigin="anonymous"
></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.7.2/d3.min.js"></script>

<!-- D3Pie -->
<script src="./assets/vendor/d3pie.min.js"></script>

<!-- Vendor JS -->
<script src="./assets/js/vendor.bundle.js"></script>

<!-- Theme JS -->
<script src="./assets/js/theme.bundle.js"></script>
