<div class="page capped-1900">

  <main>
    <div id="invoice-list" class="container-fluid capped-1800 bg-white wide-list round-8 shadow-2 mb-30">
      <div class="head d-flex justify-content-between align-items-center">
        <h2 class="">Invoice List</h2>
        <div>
          <app-search-input style="  float:left" ></app-search-input>
          <a id="create-new-invoice" [ngStyle]="{color:colorT}" class="nav-link " routerLink="/SalesMid"><span class="capicon cap-plus-alt me-2"></span>Create new invoice</a>

        </div>

      </div>
      <table class="table table-borderless">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Invoice Number</th>
          <th scope="col">Customer Name</th>
          <th scope="col">Total Amount</th>
          <th scope="col">Due Amount</th>
          <th scope="col">Status</th>
          <th scope="col">Action
            <div class="d-inline-flex dropdown">
              <span class="capicon cap-eye-alt text-main" id="dLabel" type="button" data-bs-toggle="dropdown" aria-expanded="false"></span>
              <div class="dropdown-menu dropdown-menu-end tooltip-menu" aria-labelledby="dLabel">
                <ul>
                  <li><span class="capn-preview"></span>Date</li>
                  <li><span class="capn-preview"></span>Invoice Number</li>
                  <li><span class="capn-preview"></span>Customer</li>
                  <li><span class="capn-preview"></span>Name</li>
                  <li><span class="capn-preview"></span>Total Amount</li>
                  <li><span class="capn-preview"></span>Due Amount</li>
                  <li><span class="capn-preview"></span>Date</li>
                  <li><span class="capn-preview"></span>Invoice Number</li>
                  <li><span class="capn-preview"></span>Customer</li>
                  <li><span class="capn-preview"></span>Name</li>
                  <li><span class="capn-preview"></span>Total Amount</li>
                  <li><span class="capn-preview"></span>Due Amount</li>
                </ul>
              </div>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input themed-checkbox" type="checkbox" value="">
            </div>
          </th>
          <td>
            <time datetime="23-12-2020">23-12-2020</time>
          </td>
          <td>
            <a href="">63576978</a>
          </td>
          <td>Fahmida hedge</td>
          <td><span class="badge badge-empty">-</span></td>
          <td><span class="badge badge-empty">-</span></td>
          <td>
            <span class="c-draft">Draft</span>
          </td>
          <td>
            <span class="capicon cap-trash me-2"></span>

            <div class="d-inline-flex dropdown">
              <span class="capicon cap-dot-menu" id="dLabel" type="button" data-bs-toggle="dropdown" aria-expanded="false"></span>
              <div class="dropdown-menu dropdown-menu-end tooltip-menu" aria-labelledby="dLabel">
                <ul>
                  <li>Action</li>
                  <li>View</li>
                  <li>Edit</li>
                  <li>Duplicate</li>
                  <li>Set as Recurring</li>
                  <li class="pe-none">———————</li>
                  <li>Record Payment</li>
                  <li>Send Reminder</li>
                  <li>Resend</li>
                  <li>SMS</li>
                  <li class="pe-none">———————</li>
                  <li>Download</li>
                  <li>PDF</li>
                  <li>Print</li>
                  <li>Save to Folder</li>
                  <li>Delete</li>
                  <li class="pe-none">———————</li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input themed-checkbox" type="checkbox" value="">
            </div>
          </th>
          <td>
            <time datetime="23-12-2020">23-12-2020</time>
          </td>
          <td>
            <a href="">63576978</a>
          </td>
          <td>Fahmida hedge</td>
          <td><span class="badge badge-approved">$200</span></td>
          <td><span class="badge badge-empty">-</span></td>
          <td>
            <span class="text-approved">Approved</span>
          </td>
          <td>
            <span class="capicon cap-trash me-2"></span>

            <div class="d-inline-flex dropdown">
              <span class="capicon cap-dot-menu" id="dLabel" type="button" data-bs-toggle="dropdown" aria-expanded="false"></span>
              <div class="dropdown-menu dropdown-menu-end tooltip-menu" aria-labelledby="dLabel">
                <ul>
                  <li>Action</li>
                  <li>View</li>
                  <li>Edit</li>
                  <li>Duplicate</li>
                  <li>Set as Recurring</li>
                  <li class="pe-none">———————</li>
                  <li>Record Payment</li>
                  <li>Send Reminder</li>
                  <li>Resend</li>
                  <li>SMS</li>
                  <li class="pe-none">———————</li>
                  <li>Download</li>
                  <li>PDF</li>
                  <li>Print</li>
                  <li>Save to Folder</li>
                  <li>Delete</li>
                  <li class="pe-none">———————</li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input themed-checkbox" type="checkbox" value="">
            </div>
          </th>
          <td>
            <time datetime="23-12-2020">23-12-2020</time>
          </td>
          <td>
            <a href="">63576978</a>
          </td>
          <td>Fahmida hedge</td>
          <td><span class="badge badge-approved">$800</span></td>
          <td><span class="badge badge-empty">-</span></td>
          <td>
            <span class="text-approved">Approved</span>
          </td>
          <td>
            <span class="capicon cap-trash me-2"></span>

            <div class="d-inline-flex dropdown">
              <span class="capicon cap-dot-menu" id="dLabel" type="button" data-bs-toggle="dropdown" aria-expanded="false"></span>
              <div class="dropdown-menu dropdown-menu-end tooltip-menu" aria-labelledby="dLabel">
                <ul>
                  <li>Action</li>
                  <li>View</li>
                  <li>Edit</li>
                  <li>Duplicate</li>
                  <li>Set as Recurring</li>
                  <li class="pe-none">———————</li>
                  <li>Record Payment</li>
                  <li>Send Reminder</li>
                  <li>Resend</li>
                  <li>SMS</li>
                  <li class="pe-none">———————</li>
                  <li>Download</li>
                  <li>PDF</li>
                  <li>Print</li>
                  <li>Save to Folder</li>
                  <li>Delete</li>
                  <li class="pe-none">———————</li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input themed-checkbox" type="checkbox" value="">
            </div>
          </th>
          <td>
            <time datetime="23-12-2020">23-12-2020</time>
          </td>
          <td>
            <a href="">63576978</a>
          </td>
          <td>Fahmida hedge</td>
          <td><span class="badge badge-partial">$300</span></td>
          <td><span class="badge badge-due">$200</span></td>
          <td>
            <span class="text-partial">Partially Paid</span>
          </td>
          <td>
            <span class="capicon cap-trash me-2"></span>

            <div class="d-inline-flex dropdown">
              <span class="capicon cap-dot-menu" id="dLabel" type="button" data-bs-toggle="dropdown" aria-expanded="false"></span>
              <div class="dropdown-menu dropdown-menu-end tooltip-menu" aria-labelledby="dLabel">
                <ul>
                  <li>Action</li>
                  <li>View</li>
                  <li>Edit</li>
                  <li>Duplicate</li>
                  <li>Set as Recurring</li>
                  <li class="pe-none">———————</li>
                  <li>Record Payment</li>
                  <li>Send Reminder</li>
                  <li>Resend</li>
                  <li>SMS</li>
                  <li class="pe-none">———————</li>
                  <li>Download</li>
                  <li>PDF</li>
                  <li>Print</li>
                  <li>Save to Folder</li>
                  <li>Delete</li>
                  <li class="pe-none">———————</li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input themed-checkbox" type="checkbox" value="">
            </div>
          </th>
          <td>
            <time datetime="23-12-2020">23-12-2020</time>
          </td>
          <td>
            <a href="">63576978</a>
          </td>
          <td>Fahmida hedge</td>
          <td><span class="badge badge-due">$800</span></td>
          <td><span class="badge badge-due">$800</span></td>
          <td>
            <span class="text-due">Due</span>
          </td>
          <td>
            <span class="capicon cap-trash me-2"></span>

            <div class="d-inline-flex dropdown">
              <span class="capicon cap-dot-menu" id="dLabel" type="button" data-bs-toggle="dropdown" aria-expanded="false"></span>
              <div class="dropdown-menu dropdown-menu-end tooltip-menu" aria-labelledby="dLabel">
                <ul>
                  <li>Action</li>
                  <li>View</li>
                  <li>Edit</li>
                  <li>Duplicate</li>
                  <li>Set as Recurring</li>
                  <li class="pe-none">———————</li>
                  <li>Record Payment</li>
                  <li>Send Reminder</li>
                  <li>Resend</li>
                  <li>SMS</li>
                  <li class="pe-none">———————</li>
                  <li>Download</li>
                  <li>PDF</li>
                  <li>Print</li>
                  <li>Save to Folder</li>
                  <li>Delete</li>
                  <li class="pe-none">———————</li>
                </ul>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="foot">
        <div class="d-flex justify-content-lg-between">
          <div class="d-flex">
            <span class="me-25"><span class="dot dot-approved me-12"></span>Paid</span>
            <span class="me-25"><span class="dot dot-due me-12"></span>Due</span>
            <span class="me-25"><span class="dot dot-partial me-12"></span>Partially Paid</span>
          </div>

          <div class="d-flex align-items-center">
            <span class="pagination-title f-primary f--bold me-25">Page</span>
            <Select>
              <option value="1">01-25</option>
              <option value="2">25-50</option>
              <option value="3">50-75</option>
              <option value="4">75-100</option>
            </Select>
          </div>
        </div>
      </div>
    </div>

    <div id="new-invoice" class="container-fluid capped-1800 bg-white wide-list round-8 shadow-2">
      <div class="head d-flex justify-content-between align-items-center">

        <h2 (click)="onLoadeSalerMid()" data-new-invoice class="d-flex align-items-center pointer preview-hide" >
          <span class="capicon cap-arrow-down-round me-30 text-main">

          </span>Create New Invoice</h2>
        <h2 class="d-flex align-items-center preview-show">Preview</h2>

      </div>
    </div>
  </main>

</div>

