<div class="page capped-1900">
  <main>
    <div id="invoice-list" class="container-fluid capped-1800 bg-white wide-list round-8 shadow-2 mb-30">
      <div class="head d-flex justify-content-between align-items-center">
        <h2 class="">Customers List</h2>
        <div>
          <app-search-input style="  float:left" ></app-search-input>
          <a data-new-customer routerLink="/SalesCustomers/SalesCustomersMid"><span class="capicon cap-plus-alt me-2"></span>Add new Customer</a>

        </div>

      </div>
      <table class="table table-borderless">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Date</th>
          <th scope="col">Customer Id</th>
          <th scope="col">Company</th>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col">Number</th>
          <th scope="col">Location</th>
          <th scope="col">Action
            <div class="d-inline-flex dropdown">
              <span class="capicon cap-eye-alt text-main" id="dLabel" type="button" data-bs-toggle="dropdown" aria-expanded="false"></span>
              <div class="dropdown-menu dropdown-menu-end tooltip-menu" aria-labelledby="dLabel">
                <ul>
                  <li><span class="capicon cap-eye"></span>Date</li>
                  <li><span class="capicon cap-eye"></span>Invoice Number</li>
                  <li><span class="capicon cap-eye"></span>Customer</li>
                  <li><span class="capicon cap-eye"></span>Name</li>
                  <li><span class="capicon cap-eye"></span>Total Amount</li>
                  <li><span class="capicon cap-eye"></span>Due Amount</li>
                  <li><span class="capicon cap-eye"></span>Date</li>
                  <li><span class="capicon cap-eye"></span>Invoice Number</li>
                  <li><span class="capicon cap-eye"></span>Customer</li>
                  <li><span class="capicon cap-eye"></span>Name</li>
                  <li><span class="capicon cap-eye"></span>Total Amount</li>
                  <li><span class="capicon cap-eye"></span>Due Amount</li>
                </ul>
              </div>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input themed-checkbox" type="checkbox" value="">
            </div>
          </th>
          <td>
            <time datetime="23-12-2020">23-12-2020</time>
          </td>
          <td>
            <a href="">63576978</a>
          </td>
          <td>Hello Silicon Vally</td>
          <td>Fahmida hedge</td>
          <td>etrtm@gamil.com</td>
          <td>+968 586 576</td>
          <td>Dhaka</td>
          <td>
            <span class="capicon cap-edit me-2"></span>
            <span class="capicon cap-delete me-2"></span>
          </td>
        </tr>

        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input themed-checkbox" type="checkbox" value="">
            </div>
          </th>
          <td>
            <time datetime="23-12-2020">23-12-2020</time>
          </td>
          <td>
            <a href="">63576978</a>
          </td>
          <td>Hello Silicon Vally</td>
          <td>Fahmida hedge</td>
          <td>etrtm@gamil.com</td>
          <td>+968 586 576</td>
          <td>London</td>
          <td>
            <span class="capicon cap-edit me-2"></span>
            <span class="capicon cap-delete me-2"></span>
          </td>
        </tr>

        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input themed-checkbox" type="checkbox" value="">
            </div>
          </th>
          <td>
            <time datetime="23-12-2020">23-12-2020</time>
          </td>
          <td>
            <a href="">63576978</a>
          </td>
          <td>Hello Silicon Vally</td>
          <td>Fahmida hedge</td>
          <td>etrtm@gamil.com</td>
          <td>+968 586 576</td>
          <td>UK</td>
          <td>
            <span class="capicon cap-edit me-2"></span>
            <span class="capicon cap-delete me-2"></span>
          </td>
        </tr>

        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input themed-checkbox" type="checkbox" value="">
            </div>
          </th>
          <td>
            <time datetime="23-12-2020">23-12-2020</time>
          </td>
          <td>
            <a href="">63576978</a>
          </td>
          <td>Hello Silicon Vally</td>
          <td>Fahmida hedge</td>
          <td>etrtm@gamil.com</td>
          <td>+968 586 576</td>
          <td>USA</td>
          <td>
            <span class="capicon cap-edit me-2"></span>
            <span class="capicon cap-delete me-2"></span>
          </td>
        </tr>

        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input themed-checkbox" type="checkbox" value="">
            </div>
          </th>
          <td>
            <time datetime="23-12-2020">23-12-2020</time>
          </td>
          <td>
            <a href="">63576978</a>
          </td>
          <td>Hello Silicon Vally</td>
          <td>Fahmida hedge</td>
          <td>etrtm@gamil.com</td>
          <td>+968 586 576</td>
          <td>India</td>
          <td>
            <span class="capicon cap-edit me-2"></span>
            <span class="capicon cap-delete me-2"></span>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="foot">
        <div class="d-flex justify-content-lg-between">
          <div class="d-flex">
            <span class="me-25"><span class="dot dot-approved me-12"></span>Paid</span>
            <span class="me-25"><span class="dot dot-due me-12"></span>Due</span>
            <span class="me-25"><span class="dot dot-partial me-12"></span>Partially Paid</span>
          </div>

          <div class="d-flex align-items-center">
            <span class="pagination-title f-primary f--bold me-25">Page</span>
            <Select>
              <option value="1">01-25</option>
              <option value="2">25-50</option>
              <option value="3">50-75</option>
              <option value="4">75-100</option>
            </Select>
          </div>
        </div>
      </div>
    </div>

    <div id="new-invoice" class="container-fluid capped-1800 bg-white wide-list round-8 shadow-2">
      <div class="head d-flex justify-content-between align-items-center">
        <h2 (click)="onLoadeSalerCustomerMid()" data-new-customer class="d-flex align-items-center pointer preview-hide">
          <span class="capicon cap-arrow-down-round me-30 text-main"></span>Add new Customer</h2>
      </div>
    </div>
  </main>
</div>
