<body class="sidebar-left-visible sidebar-right-visible">
<div class="page capped-1900">
  <div class="sidebar sidebar-left">
    <div class="sidebar-content">
      <div class="d-flex justify-content-between align-items-center">
        <h2 class="sidebar-title">Item List</h2>
        <a [ngStyle]="{color:colorT}" class="create-new" href=""><span class="capicon cap-plus-alt me-2"></span>New</a>
      </div>

      <div class="searchbar">
        <input type="text" name="" id="" placeholder="Search here">
      </div>

      <table class="check-list">
        <tbody>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input themed-checkbox" type="checkbox" value="">
            </div>
          </th>
          <td>
            <div class="name-company">Company Name</div>
            <div class="num-invoice">Invoice Number</div>
          </td>
          <td>
            <div class="num-amount">$10</div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input themed-checkbox" type="checkbox" value="">
            </div>
          </th>
          <td>
            <div class="name-company">Company Name</div>
            <div class="num-invoice">Invoice Number</div>
          </td>
          <td>
            <div class="num-amount">$10.0</div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input themed-checkbox" type="checkbox" value="">
            </div>
          </th>
          <td>
            <div class="name-company">Company Name</div>
            <div class="num-invoice">Invoice Number</div>
          </td>
          <td>
            <div class="num-amount">$0.00</div>
          </td>
        </tr>
        <tr>
          <th scope="row">
            <div class="form-check">
              <input class="form-check-input themed-checkbox" type="checkbox" value="">
            </div>
          </th>
          <td>
            <div class="name-company">Company Name</div>
            <div class="num-invoice">Invoice Number</div>
          </td>
          <td>
            <div class="num-amount">$10.5</div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <main>
    <div id="new-invoice" class="container-fluid capped-1800 bg-white wide-list round-8 shadow-2">
      <div class="head d-flex justify-content-between align-items-center">
        <h2 data-new-item class="d-flex align-items-center pointer preview-hide">
          <span class="capicon cap-arrow-down-round me-30 text-main"></span>Add new item</h2>
      </div>

      <div class="page-body">
        <div class="section-title preview-hide">Product Name, description, Price etc</div>

        <div class="inner-section pt-5">
          <h2>Add New item</h2>

          <div class="container-fluid  p-0">
            <div class="row">
              <div class="col-6">
                <input type="text" name="" id="" class="w-100 themed-input" placeholder="Product or Service Name">
                <input type="text" name="" id="" class="w-100 themed-input" placeholder="Description">
              </div>

              <div class="col-6">
                <input type="text" name="" id="" class="w-100 themed-input" placeholder="Quantity">
                <input type="text" name="" id="" class="w-100 themed-input" placeholder="Price">
              </div>
            </div>
          </div>
        </div>

        <div class="inner-section">
          <div class="container-fluid  p-0">
            <div class="row">
              <div class="col-6">
                <!-- <div class="container-fluid"> -->
                <div class="row g-0">
                  <button type="button" class="col btn btn-cancel-outline me-3">Cancel</button>
                  <button type="button" class="col btn btn-accent" [ngStyle]="{backgroundColor:colorT}">Save</button>
                </div>
                <!-- </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
</body>
